[Journal]
Storage=persistent
Compress=yes
SystemMaxUse={{ host_baseline_journal_max_use }}
SystemKeepFree={{ host_baseline_journal_keep_free }}
MaxRetentionSec={{ host_baseline_journal_max_retention }}
RateLimitIntervalSec={{ host_baseline_journal_rate_limit_interval }}
RateLimitBurst={{ host_baseline_journal_rate_limit_burst }}
