cloudflare_account_id = "becc1c00820a0f6779e9b278ab150abf"

state_buckets = {
  cloudflare_dns = {
    name     = "replace-with-dns-state-bucket"
    location = "weur"
  }
  netcup_perimeter = {
    name     = "replace-with-netcup-state-bucket"
    location = "weur"
  }
}

dockerswarm_backup_bucket = {
  name     = "replace-with-dockerswarm-backup-bucket"
  location = "weur"
}
